pkgbase = linux-lts-librem
	pkgver = 4.9.34
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.9.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.9.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.9.34.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.9.34.sign
	source = linux-lts-librem.config
	source = linux-lts-librem.preset
	source = linux-lts-librem.install
	source = 90-linux-lts-librem.hook
	source = change-default-console-loglevel.patch
	source = enable-byd-touchpad-detection.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 029098dcffab74875e086ae970e3828456838da6e0ba22ce3f64ef764f3d7f1a
	sha256sums = SKIP
	sha256sums = 5df86eaa1f16f785dbb02446c090e56f1b7dbe828860ff7fa60f6e3643242087
	sha256sums = SKIP
	sha256sums = a14f50dc7111c771c0c961d519b29b40c8baf3f62c18551c2ed70cbfcaeeb9f7
	sha256sums = 2cb38195bf649dde54e463039def09c13e8c997d9385eddf96364ad22a2e23c0
	sha256sums = dbb0233e451ae1f1c998fca02747028b051864473a54660073e15e946c5f08e9
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99
	sha256sums = 23f792a163a21a0b168565a62dbcfc77fd05a544a26088cd33d4dcb9ad5fe507

pkgname = linux-lts-librem
	pkgdesc = The Linux LTS kernel and modules for Librem systems
	install = linux-lts-librem.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-lts-librem.preset

pkgname = linux-lts-librem-headers
	pkgdesc = Header files and scripts for building modules for the Linux LTS kernel for Librem systems

pkgname = linux-lts-librem-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux LTS kernel for Librem systems

